body, html {
    height: 100%;
    margin: 0;
}

.page-container {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#syntaxResultsContainer {
    margin-top: 20px;
}

.syntaxResultsBox {
    border: 2px solid #999; /* Increase border width and change color */
    padding: 8px; /* Reduce padding */
    border-radius: 8px; /* Round corners */
    background-color: #f0f0f0; /* Lighter background color */
    overflow: auto; /* Enable scrolling if the content overflows */
    max-height: 600px; /* Limit the maximum height */
}
